.window-mobile {
    position: absolute;
    width: 80vw;
    height: 60vh;
    background-color: #302b31;
    border-radius: 0.2vw;
    border: 0.2vw solid rgba(255, 215, 0, 0.90);
    box-shadow: 0 0 0.2vw white;
    margin:0;
    padding:0;
    left: 0.15vw;
    top: 0.15vw;
    z-index: 5;
}

.drag-bar-mobile {
    color: none;
    width: 100%;
    height: 3vh;
    margin: 0;
    padding: 0;
}

.text-area-mobile {
    margin-right: 0.36vw;
    height: calc(100% - 4vw);
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    overflow-y: scroll;
}

.text-area-mobile p {
    padding: 0;
    margin: 0;
    margin-bottom: 1vh;
}

.text-area-mobile::-webkit-scrollbar {
    width: 0.5vw;
}

.text-area-mobile::-webkit-scrollbar-track {
    background: #706473;
    border-radius: 1vw;
}

.text-area-mobile::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1vw;
}

.close-window-button-mobile {
    background-color: none;
    position: absolute;
    right: 0.1vw;
    top: 0.1vw;
    width: 1vw;
    height: 1vw;
    padding-bottom: 0.5vw;
    margin-bottom: -0.5vw;
}


.line-container-mobile {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    position: relative;
    justify-content: center;
    width: calc(100% - 1vw);
    height: 0.1vh; /* Adjust the height to match */
    background-color: #2b242e; /* Dark background similar to the UI */
}

.line2-mobile {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.05vh; /* Thickness of the main line */
    background-color: #a396a7; /* Light purple-gray line */
    transform: translateY(-50%);
}

.glow-mobile {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.1vh; /* Slightly larger for the glow effect */
    background: rgba(163, 150, 167, 0.5); /* Softer glow effect */
    filter: blur(2px);
    transform: translateY(-50%);
}
